<ion-header>
  <ion-navbar  >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title ></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <h2>PRODUCTOS</h2> 
 <ion-list>
 <ion-grid  *ngFor="let producto of productos">
   <ion-row>
    <ion-col style="text-align: left" >
    <b>Nombre</b> : {{producto.nombre}}  <br>
    <b>Videos</b> : 
      <a target="_blank"  [ngClass]="{'hide' : (producto.video_youtube_1 ==null)}" href="{{producto.video_youtube_1}}"><button ion-button icon-only small><ion-icon  name="logo-youtube"></ion-icon></button></a>
      <a target="_blank"  [ngClass]="{'hide' : (producto.video_youtube_2 ==null)}" href="{{producto.video_youtube_2}}"><button ion-button icon-only small><ion-icon name="logo-youtube"></ion-icon></button></a> <br>
    <b>Descripcion Tecnica </b>: <br> <a target="_blank" href="{{producto.descripcion_pdf}}"><button ion-button small>PDF</button></a><br>
    <div *ngIf="producto.idLineaNegocio==1 || producto.idLineaNegocio==2 ">
    <b>Calcular TCO</b> : <br><button (click)="cargarTcoSublimacion()" ion-button ><ion-icon  name="calculator"></ion-icon></button><br>
    </div>
    <div *ngIf="producto.idLineaNegocio==4">
      <b>Calcular TCO Tec.</b> : <br><button (click)="cargarTcoTecnica()" ion-button ><ion-icon  name="calculator"></ion-icon></button><br>
    </div>
    <img src="{{producto.foto}}" alt="Imagen Impresora" height="100" width="120">
    <hr>
    </ion-col>
  </ion-row>
  <br><br>
 </ion-grid>
</ion-list>
</ion-content>