page-home {

  

}


.toolbar-background {
    background-color: red;
    background-image: url("../../assets/imgs/headerlogo.png");
    background-size:cover;
  
  }

  .toolbar-md {
    padding: 4px;
    min-height: 100px;
}